.report{
    padding:2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header{
    margin-bottom: 2rem;
}

.row{
    margin-top:2rem ;
}

.col-lg-3 div{
    background-color: #DBE3FF;
    border-radius: 10px;
    text-align: center;
    padding: 2.5rem 3%;
    transition: 0.2s;
}


.col-lg-3 div:hover{
    color: #fff;
    background-color: #5CA1F1;
    transform: scale(1.025);
    transition: 0.2s;
}