nav{
    border-radius: 0 10px 5px 5px !important;
    padding: 2%;
    box-shadow: 0px 3px 25px rgb(0 0 0 / 15%);
    background-color: #fff;
    margin-bottom: 50px;
}

.navbar-text{
    text-align: right;
}