.row{
    background-color: #404B69;
    margin: 3rem auto;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
}

.col-lg-5{
    padding: 0;
}

img{
    height: 100%;
}

.col-lg-6{
    padding: 1%;
}

li{
    list-style:none;
}

li::before{
    content: "\003E";
    margin-right: 0.5rem;
}