body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.status{
    padding: 1% 10%;
    background-color: #D9FFEA ;
    width: max-content;
    margin: 50px auto;
    border-radius: 10px;
    color: #06C15C;
}

.content{
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.192) ;
    margin: auto;
    width: max-content;
    padding: 2% 2% 0.5% 2%;
    text-align: center;
}

.pass{
    border-radius: 10px;
    background-color: #D9FFEA;
    color: #06C15C;
    width: max-content;
    margin: auto;
    padding: 2%;
    width: 40%;
    text-align: center;
}

