body{
    background-color: #DCDCDC;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.wrapper{
    margin: auto;
    width: 90%;
    background-color: #fff;
    padding: 4%;
    align-items: center;
}

span{
    display: block;
}

.wrapper div{ 
    width: max-content;
    margin: auto;
}