body{
    font-family: 'Montserrat', sans-serif;
}

h1, p{
    text-align: center;
}

.row{
    /* box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
    width: 50%;
    margin: auto;
    border-radius: 20px; */
}

.admin-background{
    box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
    border-radius: 20px 0 0 20px;
    /* width: fit-content; */
    background-color: #76CAFF;
    padding: 0;
    /* margin: 0 0 0 80px ; */
    /* width: 50%; */
}

.admin-wrapper{
    background-color: white;
    border: 0 solid black;
    border-radius: 20px 0 50px 15px;
    margin: 0;
    padding: 10%;
    width: 100%;
    /* height: 100%; */
}


.student-wrapper{
    /* width: fit-content; */
    background-color: #76CAFF;
    border: 0 solid black;
    border-radius: 50px 15px 15px 0;
    margin: 0;
    height: 100%;
    /* width: 100%; */
    padding: 10%;
}

.student-background{
    box-shadow: 20px 0px 20px rgb(0 0 0 / 13%);
    border-radius: 0 20px 20px 0;
    /* width: 50%; */
    background-color: #fff;
    padding: 0;
    /* margin: 0 20px 0 0; */
} 

.admin-wrapper h3, a{
    text-align: center;
}

select{
    margin-top: 50px;
    width: 100%;
    height: 40px;
    background-color: #76cbffa9;
    border: none;
    border-radius: 13px;
    outline: none;
    padding: 0 5%;
}

.student-wrapper h2{
    color: #fff;
    text-align: center;
}

.admin-wrapper input{
    display: flex;
    margin: 30px 0;
    border-radius: 10px;
    background-color: #76cbffa9;
    outline: 0;
    border: none;
    border-radius: 13px;
    width: 100%;
    height: 60px;
    padding: 5%;
}

.admin-wrapper button{
    display: flex;
    background-color: #45B6FE;
    color: #fff;
    border: none;
    border-radius: 50px;
    margin: auto;
    padding: 2% 20%;
    text-align: center;
}

.admin-wrapper a{
    color: #3792CB ;
    text-decoration: none;
    font-size: smaller;
    text-align: center;
    width: 100%;
}

.student-wrapper input{
    display: flex;
    margin: 30px 0;
    border-radius: 10px;
    background-color: #fff;
    outline: 0;
    border: none;
    border-radius: 13px;
    width: 100%;
    height: 60px;
    padding: 5%;
}

.student-wrapper button{
    display: flex;
    background-color: #fff;
    color: #45B6FE;
    border: none;
    border-radius: 50px;
    margin: 20px auto;
    padding: 2% 20%;
    text-align: center;
}

.or{
    border-radius: 35px;
    color: black;
    background-color: #fff;
    padding: 1%;
    width: 33px;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 577px) {

    .row{
        /* box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
        width: 50%;
        margin: auto;
        border-radius: 20px; */
    }
    .admin-background{
        box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
        border-radius: 20px 0 0 20px;
        /* width: fit-content; */
        background-color: #76CAFF;
        padding: 0;
        /* margin: 0 0 0 80px ; */
        /* width: 50%; */
    }
    
}