.dashboard-wrapper{
    padding: 2% 2.5%;
    font-family: 'montserrat';
}

.dashboard-wrapper > span:nth-child(1){
    margin-bottom: 2rem;
    display: flex;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
}

.dashboard-wrapper > span:nth-child(2){
    font-weight: 600;
    margin-left: 2rem;
}

.content-wrapper{
    margin-top: 0.5rem;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    padding: 1% 0 0;
}

.col-2 span, .col-3 span{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.col-2 > span:nth-child(2), .col-3 > span:nth-child(2){
    font-size: 3rem;
    padding-top: 0;
}