.data{
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-top: 0.75rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.5px;
}

input{
    border: 2px solid #1F6998;
    margin-right: 2rem;
    padding-left: 1.75rem;
    border-radius: 20px;
    outline: none;
}

.filter{
    margin: 2rem;
}

.selector{
    padding: 0.5% 0;
    background-color: #DBE3FF;
    margin: 2rem;
    display: flex;
    border-radius: 25px;
}

#all, #registered, #interested{
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
    cursor: pointer;
    margin: auto 1rem auto 0.5rem;
    padding: 0.5% 2.5%;
    border-radius: 30px;
}

.active{
    background-color: #5CA1F1;
}

.filter .icon{
    padding: 0 0.5%;
    width: 20px;
    position: absolute;
}

img{
    width: 18px;
}

.data-content{
    padding: 2%;
    margin-left: 2rem;
    border: 1px solid black;
    height: 200px;
    border-radius: 20px;
    width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}